<h1>String teamName = null;</h1>
<h2>Stock Trader</h2>

<div class="form-group row text-center">
    <label class="control-label col-md-12">User ID</label>
    <input type="number" [(ngModel)]="loginDetails.id" class="form-control">
    <button class="btn btn-primary btn-lg" (click)="login()">Login</button>
</div>
