<div class="col-md-12">
	<h3 class="mb-3 text-center">Add Stock</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Stock ticker</label>

    <select [(ngModel)]="stockTradeDetails.stockTicker" class="form-control" (change)="findPrice()">
      <option *ngFor="let item of tickers">
        {{item}}
      </option> 
    </select>

	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="number" value="100" [(ngModel)]="stockTradeDetails.price" class="form-control" readonly="readonly">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
    <input type="number" [(ngModel)]="stockTradeDetails.volume" class="form-control" (change)="totalCalculation()">

	</div>
<br>
      <label class="control-label col-md-12">Total amount:</label>
    <label id="totaloutput"> {{ total }} </label>

    <br> <br>

    <div class="form-group row">
    <label class="control-label col-md-12">Side</label>

    <label for="buy">
    <input type="radio" id="BUY"[(ngModel)]="stockTradeDetails.side" id="buy" name="BUY" value="BUY" />
    BUY
    </label>

    <label for="sell">
    <input type="radio" id="SELL"[(ngModel)]="stockTradeDetails.side" id="sell" name="SELL" value="SELL" />
    SELL
    </label>
    </div>

    <br>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addShipper()">Add stock</button>
	</div>

  <br>


</div>
