<h2>Stock Portfolio</h2>
<div *ngIf="stockPortfolio.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Stock</th>
			<th scope="col">Amount Held</th>
			<th scope="col">Ticker Info</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of stockPortfolio">
			<td>{{stock.stock}}</td>
			<td>{{stock.amount}}</td>
			<td>
			  <a [routerLink]="['/further-information', stock.stock]" class="btn btn-primary btn-sm float-right">View</a>&nbsp;
			</td>

		  </tr>
		</tbody>
	  </table>
	</div>
</div>