<button class="btn btn-outline-primary" routerLink="/create">Add </button>
<button class="btn btn-outline-primary" routerLink="/list">List </button>
<button class="btn btn-outline-secondary float-right" routerLink="/portfolio">View Portfolio</button>




<!-- Use this in the AppComponent template -->
<div class="container">
  <router-outlet></router-outlet>
</div>

