
<h2>Stock Trades</h2>
<div *ngIf="stockTrades.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">price</th>
			<th scope="col">status_code</th>
			<th scope="col">stock ticker</th>
            <th scope="col">volume</th>
            <th scope="col">side</th>
            <th scope="col">Time</th>
			<th scope="col">Ticker Info</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stockTrade of stockTrades">
			<td>{{stockTrade.price}}</td>
			<td>{{stockTrade.statusCode}}</td>
            <td>{{stockTrade.stockTicker}}</td>
            <td>{{stockTrade.volume}}</td>
            <td>{{stockTrade.side}}</td>
            <td>{{stockTrade.createdTimestamp | date }}</td>
			<td>
			  <a [routerLink]="['/further-information', stockTrade.stockTicker]" class="btn btn-primary btn-sm float-right">View</a>&nbsp;
			</td>

		  </tr>
		</tbody>
	  </table>
	</div>
</div>

<button class="btn btn-success btn-lg btn-block" (click)="loadStockTrades()">Refresh table</button>