<h3>Trade Advisor</h3>
<div *ngIf="furtherInformation.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">ticker</th>
			<th scope="col">lastClose</th>
			<th scope="col">upperBand</th>
            <th scope="col">lowerBand</th>
            <th scope="col">advice</th>

		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let fi of furtherInformation">
			<td>{{fi.ticker}}</td>
			<td>{{fi.lastClose}}</td>
            <td>{{fi.upperBand}}</td>
            <td>{{fi.lowerBand}}</td>
            <td>{{fi.advice}}</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
<h3>Historical Daily Close Prices</h3>
<div *ngIf="chart">

<canvas id="canvas">{{ chart }}</canvas>

</div>




